.title {
  width: 100%;
  height: 50px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.crea {
  padding: 5px;
  display: flex;
  justify-content: center;
}
thead {
  border: none;
}
